body {
margin: 0px;
/*background-image: url("/Users/edwardabreu/Documents/codeEncrypt Alura/images/8289979_25331.jpg");
background-size: 50%;
*/
background-color: #e8e8e8;

}

section {
width: 900px;
height: max-content;
border: solid #aeaeae 1px ;
background-color: aqua;
margin: auto;
padding: 18px;
border-radius: 18px;

}

.header{
width: 100% ;
height: 100px;
background-color: #ff8383;
margin-bottom: 8px;
}

.area_main{
display: flex;
justify-content: space-between;
gap: 8px;

}

.main_section_encripta{
background-color: rgb(169, 21, 255);
width: 60%;
padding: 10px;
border-radius: 10px;
}


.main_section_desencripta{
background-color: rgb(255, 215, 37);
width: 40%;
padding: 10px;
border-radius: 10px;

}

.area_encriptar {
width: 100%;
height: 400px;
border: none;
box-sizing: border-box;
background-color: #ff8383;
font-size: 24px;
font-family: 'Quicksand', sans-serif;
}


.area_desencriptar {
width: 100%;
height: 400px;
border: none;
box-sizing: border-box;
background-image: url(c18204699988879836cf630cac112d37e6cf933f.png);
background-repeat: no-repeat;
background-position: 50% 10%;
background-color: rgb(16, 102, 151);
text-align: center;
font-size: 24px;
font-family: 'Quicksand', sans-serif;
}
   


.textarea1:focus {
outline: none;
}

::placeholder {
color: rgba(1, 56, 133, 0.754);
}

.textarea2:focus {
outline: none;
}

h6 {
font-family: 'Quicksand', sans-serif;
}

.buttons{
margin-top: 8px;
display: flex;
justify-content: space-between;
width: 100%;
height: max-content 
}

.btn-encr {
width: 100%;
margin-right: 8px;
padding: 18px 28px;
border: solid #131313 1px ;
font-size: 16px;
font-family: 'Quicksand', sans-serif;
background-color: rgb(47, 176, 246);
}

.btn-desencr {
width: 100%;
padding: 18px 28px;
font-size: 16px;
font-family: 'Quicksand', sans-serif;
background-color: rgb(47, 176, 246);
}
        
.btn-copiar {
    margin-top: 8px;

width: 100%;
padding: 18px 28px;
font-size: 16px;
font-family: 'Quicksand', sans-serif;
background-color: rgb(55, 115, 150);
color: rgb(255, 255, 255);
}


.boton1:hover{
background-color: rgb(14, 118, 174); 
}

.boton2:hover{
background-color: rgb(14, 118, 174); 
}

.botoncopiar:hover{
background-color: rgb(246, 173, 47);
}


