body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}


:root {
    --yellow: #FFD23F;
    --black: #130f04;

}


/*HEADER*/

.top-yellow{
width: 100%;
height:30px;
background-color: var(--yellow);
}

.header-container{
margin-top: 0;
}

.header-content{
display: flex;
justify-content: space-between;
width: 50%;
margin: auto;
}

.header-name{
font-size: 36px;
}

.nav-bar-sm{
display: flex;
align-items: center;
gap: 21px;
list-style: none;
}

.item{
background-color: rgb(2, 15, 15);
color: var(--yellow);
list-style: none;
padding: 12px 18px; 
font-family: 'Bitter', serif;
font-size: 14px;
}

.w80 {  
width: var(80%);
}

.fab{
font-size:26px;
color:#180f0f;
}

.github{
background-color: black;
width: 26px; 
height: 26px; 
}

.instagram{
background-color: black;
width: 26px; 
height: 26px;
}







/*MAIN*/

.main-container{
margin-top: 0;
margin-top: 20px;
}

.main-content{
display: flex;
justify-content: space-between;
align-items: center;
width: 50%;
height: max-content;
margin: auto;
}


.headlines{
width: max-content;
display:flex;
justify-content: space-between;
align-items: center;
}

.headline1{
font-size: 80px;
line-height: 85px;
}

.about{
width: 30%;
margin-right: 180px;
line-height: 28px;
font-family: 'Bitter', serif;
}

.marker{
background-color: var(--yellow);
padding: 2px;
}


.info-container{
    width: 50%;
    margin: auto;
    display: flex;

}

.skills-container{
    width: 50%;
}

.skills-title{
    padding-left: 10px;
}

.skills-list{
    display: flex;
    gap: 26px;
    height: max-content;
    padding: 12px;
}
/*
.skills-item{
    background-color: rgb(177, 66, 32);
    width: 45px;
    height:45px;
}

.fa-brands{
    background-color: rgb(177, 66, 32);
    width: 45px;
    height:45px;
}
*/

     
.fa-brands{
font-size:46px;
color:#180f0f;

}

.divider{
    width: 100%;
    height: 10px;
    border-top: var(--yellow) 2px solid ;
}
     

.projects-container{
    width: 50%;
    height: max-content;
}

.projects-title{
    padding-left: 10px;
}

.projects-list{
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    padding: 12px;
    gap: 10px;
}

.projects-item{
    background-color: rgb(255, 255, 255);
    border: 1px solid #324424;
    width: max-content;
    height: max-content;
    padding: 8px 12px;
    border-radius: 36px;
    font-size: 12px;
    font-family: 'Bitter', serif;
}








.footer-container{
    margin-top: 0;
    margin-top: 14px;

}

.footer-content{
display: flex;
justify-content: space-between;
align-items: center;
gap: 10px;
width: 50%;
height: 300px;
margin: auto;
background-color: var(--yellow);
}

.footer-section1{
    background-color: rgb(139, 158, 32);
    width: 40%;
    height: max-content


}

.footer-section2{
    background-color: rgb(82, 20, 196);
    display: flex;
    flex-direction: column;
    width: 60%;
    height: max-content




    
}



