
.container{
    background-color: aqua;
    width: 300px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inner{
    display: flex;
}

input{
    margin-right: 10px;
}

.bt {
    width: 20px;
    height: 20px;
    background-color: rgb(200, 255, 48);
    border-radius: 40px;

}
.todo{
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
}